In [1]:
from lib.data import load_file

train = load_file()
train.head()

2017-10-21 14:24:06,222 - INFO - Using already cached file data/train.csv

,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
id,,,,,,,,,,,,,,,,,,,,,
7,0,2,2,5,1,0,0,1,0,0,...,9,1,5,8,0,1,1,0,0,1
9,0,1,1,7,0,0,0,0,1,0,...,3,1,1,9,0,1,1,0,1,0
13,0,5,4,9,1,0,0,0,1,0,...,4,2,7,7,0,1,1,0,1,0
16,0,0,1,2,0,0,1,0,0,0,...,2,2,4,9,0,0,0,0,0,0
17,0,0,2,0,1,0,1,0,0,0,...,3,1,1,3,0,0,0,1,1,0

In [2]:
test = load_file("test")
test.head()

2017-10-21 14:24:09,776 - INFO - Using already cached file data/test.csv

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
id,,,,,,,,,,,,,,,,,,,,,
0,0,1,8,1,0,0,1,0,0,0,...,1,1,1,12,0,1,1,0,0,1
1,4,2,5,1,0,0,0,0,1,0,...,2,0,3,10,0,0,1,1,0,1
2,5,1,3,0,0,0,0,0,1,0,...,4,0,2,4,0,0,0,0,0,0
3,0,1,6,0,0,1,0,0,0,0,...,5,1,0,5,1,0,1,0,0,0
4,5,1,7,0,0,0,0,0,1,0,...,4,0,0,4,0,1,1,0,0,1

In [3]:
sample = load_file("sample")
sample.head()

2017-10-21 14:24:14,942 - INFO - Using already cached file data/sample_submission.csv

    target
id
0   0.0364
1   0.0364
2   0.0364
3   0.0364
4   0.0364

In [4]:
list(train.columns.values)

['target',
 'ps_ind_01',
 'ps_ind_02_cat',
 'ps_ind_03',
 'ps_ind_04_cat',
 'ps_ind_05_cat',
 'ps_ind_06_bin',
 'ps_ind_07_bin',
 'ps_ind_08_bin',
 'ps_ind_09_bin',
 'ps_ind_10_bin',
 'ps_ind_11_bin',
 'ps_ind_12_bin',
 'ps_ind_13_bin',
 'ps_ind_14',
 'ps_ind_15',
 'ps_ind_16_bin',
 'ps_ind_17_bin',
 'ps_ind_18_bin',
 'ps_reg_01',
 'ps_reg_02',
 'ps_reg_03',
 'ps_car_01_cat',
 'ps_car_02_cat',
 'ps_car_03_cat',
 'ps_car_04_cat',
 'ps_car_05_cat',
 'ps_car_06_cat',
 'ps_car_07_cat',
 'ps_car_08_cat',
 'ps_car_09_cat',
 'ps_car_10_cat',
 'ps_car_11_cat',
 'ps_car_11',
 'ps_car_12',
 'ps_car_13',
 'ps_car_14',
 'ps_car_15',
 'ps_calc_01',
 'ps_calc_02',
 'ps_calc_03',
 'ps_calc_04',
 'ps_calc_05',
 'ps_calc_06',
 'ps_calc_07',
 'ps_calc_08',
 'ps_calc_09',
 'ps_calc_10',
 'ps_calc_11',
 'ps_calc_12',
 'ps_calc_13',
 'ps_calc_14',
 'ps_calc_15_bin',
 'ps_calc_16_bin',
 'ps_calc_17_bin',
 'ps_calc_18_bin',
 'ps_calc_19_bin',
 'ps_calc_20_bin']

In [5]:
X = train.drop(['target'], axis = 1)
y = train.target

In [6]:
X.shape

(595212, 57)

In [24]:
import pandas as pd
from sklearn.feature_selection import chi2

features, chi2s, pvals = [],[],[]

for col_name in X:
    col = X[col_name]
    present_x = (col >= 0)
    ch2_result = chi2(col[present_x].values.reshape(-1, 1), y[present_x])
    features.append(col_name)
    chi2s.append(ch2_result[0][0])
    pvals.append(ch2_result[1][0])

ch2_df = pd.DataFrame({"feature": features, "chi2": chi2s, "pval": pvals})
ch2_df[['feature', 'chi2', 'pval']].sort_values('pval', axis = 0, ascending = True).head()

          feature         chi2           pval
24  ps_car_04_cat  4119.848102   0.000000e+00
4   ps_ind_05_cat  2666.965280   0.000000e+00
16  ps_ind_17_bin   718.220742  3.262541e-158
6   ps_ind_07_bin   517.788573  1.281354e-114
14      ps_ind_15   474.207871  3.891472e-105

In [10]:
ch2_df.to_csv("data/chi2_features.csv")

In [9]:
sig_features = ch2_df.pval < .05
ch2_df.feature[sig_features]

0         ps_ind_01
1     ps_ind_02_cat
2         ps_ind_03
3     ps_ind_04_cat
4     ps_ind_05_cat
5     ps_ind_06_bin
6     ps_ind_07_bin
7     ps_ind_08_bin
8     ps_ind_09_bin
11    ps_ind_12_bin
13        ps_ind_14
14        ps_ind_15
15    ps_ind_16_bin
16    ps_ind_17_bin
17    ps_ind_18_bin
18        ps_reg_01
19        ps_reg_02
20        ps_reg_03
21    ps_car_01_cat
22    ps_car_02_cat
23    ps_car_03_cat
24    ps_car_04_cat
26    ps_car_06_cat
27    ps_car_07_cat
28    ps_car_08_cat
29    ps_car_09_cat
31    ps_car_11_cat
33        ps_car_12
34        ps_car_13
36        ps_car_15
Name: feature, dtype: object

In [12]:
print(y.describe())
print(y[:20])

count    595212.000000
mean          0.036448
std           0.187401
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: target, dtype: float64
id
7     0
9     0
13    0
16    0
17    0
19    0
20    0
22    0
26    0
28    1
34    0
35    0
36    0
43    0
46    0
48    0
50    0
58    0
61    0
64    1
Name: target, dtype: int64